.lead {
  width: 76.875%;
  margin: 56px auto 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90.625vw;
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100vw;
  }
}