.cover__subtitle {
  font-size: 1.125rem;
  line-height: 1.22;
  text-align: center;
  max-width: 360px;
  margin: 32px 0 0;
  position: relative;
  text-decoration: none;
  color: white;
}

@media screen and (max-width:720px) {
  .cover__subtitle {
    margin: 16px 0 0;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}