.header {
  width: 92.5vw;
  margin: 28px auto 0;
  display: grid;
  grid-template-columns: max-content 1fr;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.625vw;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 93.75vw;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 90vw;
    margin: 16px auto 0;
  }
}