.place__text-container {
  margin: 0;
  display: grid;
  gap: 26px;
  width: 100%;
  height: min-content;
}

@media screen and (max-width: 1024px) {
  .place__text-container {
    gap: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__text-container {
    gap: 25px;
  }
}

@media screen and (max-width: 720px) {
  .place__text-container {
    width: 90vw;
    margin: 0 auto 0;
  }
}