.place {
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: calc(1280px/100*35.9375) calc(1280px/100*37.8125);
  gap: 48px 40px;
  width: 76.875%;
}

@media screen and (max-width: 1280px) {
  .place {
    width: 76.875vw;
    grid-template-columns: 35.9375vw 37.8125vw;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    width: 90.625vw;
    grid-template-columns: 42.96875vw 47.265625vw;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin: 73px auto 0;
    width: 93.75vw;
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    margin: 49px auto 0;
    width: 100vw;
    grid-template-columns: 100vw;
    gap: 32px;
  }
}
